.page {
    display: flex;
	flex-direction: column;
	height: 100%;
    width: 100%;
	box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: 28% 72%;
    height: inherit;
}