.page {
    display: flex;
	flex-direction: column;
	height: 100%;
    width: 100%;
	box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: 28% 72%;
    height: inherit;
}

.search {
    display: flex;
    flex-direction: column;
    margin: 0px 12px 4px 12px;
}

.inputSearch {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
